{*<li><a href="#" ><i class="fa fa-twitter"></i></a></li>*}
<li><a href="https://www.facebook.com/D%C4%9ATSK%C3%9D-KL%C3%8D%C4%8C-%C5%A0umperk-935531713136480" ><i class="fa fa-facebook"></i></a></li>
{*<li><a href="#" ><i class="fa fa-youtube"></i></a></li>
<li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
<li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
<li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
<li><a href="#" ><i class="fa fa-skype"></i></a></li>
<li class="row-end"><a href="index.html#" ><i class="fa fa-rss"></i></a></li>*}